deleted:    Images/1.jpg
	deleted:    Images/10.jpg
	deleted:    Images/11.jpg
	deleted:    Images/12.jpg
	deleted:    Images/13.jpg
	deleted:    Images/14.jpg
	deleted:    Images/15.jpg
	deleted:    Images/2.jpg
	deleted:    Images/3.jpg
	deleted:    Images/4.jpg
	deleted:    Images/5.jpg
	deleted:    Images/6.jpg
	deleted:    Images/7.jpg
    deleted:    Images/8.jpg
	deleted:    Images/9.jpg
	deleted:    Images/arijit sing.jpg
	deleted:    Images/arijit-singh-bg.jpg
    deleted:    songs/12.mp3
	deleted:    songs/13.mp3
	deleted:    songs/14.mp3
	deleted:    songs/15.mp3
	deleted:    songs/2.mp3
	deleted:    songs/3.mp3
	deleted:    songs/4.mp3
	deleted:    songs/6.mp3
	deleted:    songs/7.mp3
	deleted:    songs/8.mp3