@media screen and (max-width:1600px) {
    .main .player .control .musicbar {
        min-width: 34vw;
    }
}

@media screen and (max-width:1300px) {
    .container {
        /* width: 100%; */
        height: 100%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
    }

    .main {
        width: 100%;
    }

    .main .tools {
        width: 100%;
    }

    .main .songItems {
        width: 95%;
    }

    .navsection .navbar .navbar-toggle {
        display: flex;
        position: relative;
        left: 2rem;
        top: 1rem;
    }

    .container .navbar {
        height: 100%;
        width: 0;
    }

    .main .player .control .musicbar {
        width: 45vw;
    }

    /* .container .navbar {
        height: 100%;
        width: 18rem;
        background-image: var(--bg-nav-gradient);
    } */

    .main .display .featured {
        margin-top: 5rem;
    }

    .main .display .main-song {
        margin-top: 2rem;
    }
}

@media screen and (max-width:1000px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width:850px) {
    .main .player .control {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .main .songItems {
        height: 10rem;
    }

    .main .player {
        height: 8rem;
    }

    .main .tools .search input {
        font-size: 1.3rem;
        background: none;
        width: 75%;
    }
}

@media screen and (max-width:600px) {
    .main .player .photo {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .main .display .main-song {
        height: 200px;
        width: 200px;
    }

    .main .display {
        height: 24rem;
    }

    .main .songItems {
        height: 10rem;
    }

    .main .display .featured {
        margin-top: 6.3rem;
    }

    .main .display .featured .header h3 {
        display: inline-block;
        font-size: 25px;
    }

    .main .display .main-song h3 {
        width: 200px;
        font-size: 1.6rem;
    }

    .main .display .main-song p {
        width: 200px;
    }

    .main .songItems .rest {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .main .songItems .rest h4 {
        /* margin-top: 6.8rem; */
        width: 80px;
    }

    .main .songItems .rest p {
        width: 80px;
    }

    .main .songItems {
        gap: 2rem;
    }

    .navsection .navbar .navbar-toggle {
        position: relative;
        left: 1rem;
        top: 1rem;
    }

    .main .tools {
        gap: 1rem;
        padding: 0 1rem;
    }

    .main .tools .search input {
        font-size: 1.2rem;
        background: none;
        width: 70%;
    }

    .fa-magnifying-glass:before,
    .fa-search:before {
        content: "\f002";
        font-size: 1.2rem;
    }
}