@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:ital@1&family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Sans Pro', sans-serif;
    /* transition: all .3s ease-in; */
}

:root {
    --bg-light-green: #0ccda3;
    --text-color: #393939;
    --text-color-500: #302e4d;
    --bg-light-white: #e9e9e9;
    --bg-white: #fff;
    --header-color: #F02262;
    --search-col: rgb(221 159 231 / 50%);
    --bg-gradient: linear-gradient(to bottom, #D57EEA, #FCCB90);
    --bg-nav-gradient: linear-gradient(to bottom, #6047DF, #E5CCC3);
    --outer-gradient: linear-gradient(8deg, #FFEB70, #f75f8e);
}

body.dark {
    --text-color: #fff;
    --text-color-500: #f2f2fc;
    --search-col: #3b3b3c;
    --bg-light-white: #504e70;
    --bg-white: #393939;
    --header-color: #F02262;
    --bg-gradient: linear-gradient(to bottom, #2d2a2e, #736c63);
    --bg-nav-gradient: linear-gradient(45deg, #706f72, #2c2827);
    --outer-gradient: linear-gradient(to top, #323232, #444041);
}


body {
    /* width: 100%;
    height: 100vh; */
    background-color: var(--text-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ========= navbar section start================= */
.container .navbar {
    width: 20%;
    height: 80vh;
    background-image: var(--bg-nav-gradient);
}

.container .navbar .logo {
    padding: 1.5rem;
    font-size: 1.3rem;
    text-align: center;

}

.container .navbar .logo a {
    color: var(--text-color);
    font-weight: bold;
}

.container .navbar .logo i {
    font-size: 2.2rem;
    color: var(--bg-light-green);
}

.container .navbar .all {
    padding: .5rem;
    width: 13rem;
    margin: 0 auto;
    font-size: 1rem;
    text-transform: uppercase;
}

.container .navbar-toggle {
    width: 50px;
    height: 40px;
    cursor: pointer;
    /* border: 2px solid red; */
    /* background-color: var(--text-color); */
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container .navbar-toggle span {
    width: 30px;
    height: 3px;
    background: var(--text-color);
    display: inline block;
    position: relative;
}

.container .navbar-toggle span::before {
    content: '';
    width: 30px;
    height: 3px;
    background: var(--text-color);
    position: absolute;
    top: -8px;
    left: 0px;
}

.container .navbar-toggle span::after {
    content: '';
    width: 30px;
    height: 3px;
    background: var(--text-color);
    position: absolute;
    top: 8px;
    left: 0px;
}

.fa,
.fas {
    padding: .5rem;
    color: var(--text-color);
    cursor: pointer;
}

.container .navbar .all span {
    margin: 0 1rem;
    font-weight: 900;
}

.container .navbar .all h3 {
    margin: 1.2rem auto;
    color: var(--text-color);
}

/* =========== Main section start========= */
.container .main {
    width: 80%;
    height: 80vh;
    /* border: 2px solid red; */
    background-image: var(--bg-gradient);
    /* background: green; */
}

/* =========== tools section =============== */
.main .tools {
    width: 100%;
    height: 4rem;
}

.main .tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
    font-size: 1.3rem;
}

.main .tools .search {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main .tools .search-bar {
    /* position: relative; */
    width: 100%;
    padding: 1px 10px;
    border-radius: 20px;
    background: var(--search-col);
    /* border: 1px solid var(--bg-white); */
}

.main .tools .search_result {
    width: 100%;
    height: 18rem;
    /* background: rgb(120, 120, 120, .5); */
    border-radius: 10px;
    /* border: 1px solid red; */
    position: absolute;
    top: 39px;
    /* border-radius: 10px; */
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 999999;

}

.main .tools .search_result::-webkit-scrollbar {
    display: none;
}

.main .tools .search_result .card {
    width: 90%;
    height: 3rem;
    border-radius: 5px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
    padding-left: 1rem;
    background: var(--search-col);
    display: none;
}

.main .tools .search_result .card img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 0 1rem;
}

.main .tools .search_result .card .search-detail {
    width: 60%;
}

.main .tools .search_result .card h4 {
    font-size: 1.2rem;
    width: 100%;
    text-transform: capitalize;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .tools .search_result .card p {
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .tools .search input {
    font-size: 1.3rem;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;
    color: var(--text-color);
    /* background-color: var(--bg-white); */
}

/* .main .tools .search input:hover {
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 15%);
} */

/* .main .tools .search input[type="text"]{
    font-size: 1rem;
} */
.main .tools .setting {
    /* position: relative; */
    left: 15rem;
}

.main .tools .mode {
    /* position: relative; */
    left: 16rem;
}

.main .tools .fa-sun {
    color: var(--text-color);
}

/* ============= display section ============== */
.main .display {
    width: 100%;
    height: 22rem;
    /* background-color: #6454F0; */
    /* background-image:var(--bg-gradient); */

}

.main .display .main-song {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;
    /* background-image: url("/arijit\ sing.jfif");
    background-size: cover; */
}

.main .display .main-song img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.main .display .main-song h3 {
    width: 250px;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color);
    text-transform: capitalize;
}

.main .display .main-song p {
    width: 250px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color);
    text-transform: capitalize;
}

.main .display .featured {
    width: 88%;
    margin: 3rem 3rem 1rem;
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .display .featured .header h3 {
    /* display: inline-block; */
    font-size: 2rem;
    padding: 0 auto 2rem 3rem;
    /* position: relative;
    bottom: 2.5rem; */
    /* left: 2rem; */
    color: var(--text-color-500);
    text-transform: capitalize;
}

.main .display .featured .forward-backword {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    bottom: 2rem; 
    left: 2rem; */
}

.main .display .featured #forward-arrow,
.main .display .featured #backward-arrow {
    font-size: 25px;
}

.main .display .featured #forward-arrow:hover,
.main .display .featured #backward-arrow:hover {
    color: var(--bg-light-green);
}


.rotate {
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* ============= songs section ================= */
.main .song-container {
    width: 100%;
    height: 10rem;
}

.main .songItems {
    height: 100%;
    width: 95%;
    /* background-color: #00FFED; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 0 1rem;
    margin: 0 auto;
    gap: 3rem;
}

.main .songItems::-webkit-scrollbar {
    display: none;
}

.main .songItems .rest {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-image: url("/Images/arijit\ sing.jfif");
    background-size: cover; */
}

.main .songItems .rest img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* object-fit: contain;; */
}

.main .songItems .rest h4 {
    /* margin-top: 6.8rem; */
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1rem;
    padding-bottom: .2rem;
    color: var(--text-color-500);
    text-transform: capitalize;
}

.main .songItems .rest p {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .7rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

/* =========== palyer section ===========*/
.container .player {
    width: 100%;
    height: 10vh;
    background: var(--outer-gradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.container .player .photo-name {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .player .photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container .player .music-name-artist {
    margin-left: 1rem;
    width: 74%;
    text-transform: capitalize;
}

.container .player .music-name-artist h4,
.container .player .music-name-artist p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-color);
}

.container .player .music-name-artist p {
    font-size: 0.8rem;
}

.container .player .photo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container .player .control {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.play-pause-repeat-vol {
    width: 12%;
}

.control .player .control .time-bar {
    width: 88%;
}

.container .player .control .fa-solid {
    margin: 0.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    cursor: pointer;
}

.repeat1 {
    display: none;
}

.repeat {
    padding: 0 .5rem;
}

#soundbar {
    display: none;
}

.container .player .control .play-pause-for-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .player .control #play_btn {
    font-size: 2.3rem;
    color: var(--bg-light-green);
}

.container .player .control .time-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.container .player .control .musicbar {
    position: relative;
    min-width: 60%;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(120, 120, 120, .5);
}

.container .player .control .bar2 {
    position: absolute;
    width: 0%;
    border-radius: 2px;
    background: var(--bg-light-green);
    height: 100%;
    top: 0;
}

.container .player .control .dot {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--bg-light-green);
    top: -2.2px;
    left: 0%;
}

.container .player .control .dot::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid var(--bg-light-green);
    top: -5.2px;
    left: -5px;
    box-shadow: inset;
    box-shadow: inset 0 0 4px var(--bg-light-green);
}

.container .player .control .musicbar input {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: -6.5px;
    width: 100%;
    cursor: pointer;
    z-index: 9999999999999999999;
    /* width: 35rem;
    height: 5px;
    margin: 0px 1rem 0 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.container .player .control .currtime {
    margin: 0 1rem;
    font-weight: 800;
    color: var(--text-color);
}

.container .player .control .totaltime {
    margin: 0 1rem;
    font-weight: 800;
    color: var(--text-color);
}

.container .player .control .vol-sound {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .player .control .soundbar {
    position: relative;
    min-width: 5vw;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(120, 120, 120, .5);
}

.container .player .control .bar3 {
    position: absolute;
    width: 100%;
    border-radius: 2px;
    background: var(--bg-light-green);
    height: 100%;
    top: 0;
}

.container .player .control .dot1 {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: var(--bg-light-green);
    top: -2.2px;
    left: 100%;
}

.container .player .control .dot1::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid var(--bg-light-green);
    top: -5.2px;
    left: -5px;
    box-shadow: inset;
    box-shadow: inset 0 0 4px var(--bg-light-green);
}

.container .player .control .soundbar input {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: -6.5px;
    width: 100%;
    cursor: pointer;
    z-index: 9999999999999999999;
}

@media (max-width:1300px) {
    .container .navbar {
        width: 25%;
    }

    .container .main {
        width: 75%;
    }

    .main .tools .search {
        width: 55%;
    }

    .container .player .music-name-artist {
        width: 70%;
    }

    .container .player .control .musicbar {
        min-width: 50%;
    }
}

@media (max-width:1000px) {
    .container {
        width: 100%;
        height: 100vh;
        margin: 0;
        transition: all 0.3s linear;
    }

    .container .navbar {
        width: 14rem;
        height: 90vh;
        position: absolute;
        z-index: 999999;
        position: absolute;
        left: -20rem;
    }

    .container .navbar .navbar-toggle {
        display: inline-flex;
        position: relative;
        top: 1rem;
        left: 21rem;
    }
    .container .navbar .fa-solid {
        color: var(--text-color);
    }

    .container .player .photo-name {
        display: none;
    }

    .container .main {
        width: 100%;
        height: 90vh;
    }

    .container .player {
        height: 10vh;
    }

    .container .player .control {
        width: 100%;
    }

    .container .player .control .time-bar {
        width: 90%;
    }

    /* .container .player .control .musicbar {
        position: relative;
        min-width: 60%;
    } */

    .main .display .featured #forward-arrow:hover,
    .main .display .featured #backward-arrow:hover {
        color: var(--text-color);
    }

}

@media (max-width:750px) {


    .main .display .featured {
        position: relative;
        left: 3rem;
        top: 4.5rem;
        margin: 0;
    }

    /* .container .navbar .navbar-toggle {
        position: relative;
        top: 1rem;
        left: 21rem;
    } */
    .container .navbar {
        width: 14rem;
        height: 82vh;
    }

    .container .main {
        width: 100%;
        height: 100vh;
        transition: all 0.3s linear;
    }

    .container .player {
        height: 18vh;
        position: absolute;
        bottom: 0;
    }


    .main .display {
        width: 100%;
        height: 24rem;
    }

    .main .tools .search input {
        width: 75%;
    }


    .container .player .control {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #repeat-icon1 {
        display: none;
    }

    #soundbar2 {
        display: none;
    }

    .play-pause-repeat-vol {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
    }

    .repeat1 {
        display: inherit;
        position: absolute;
        left: 6rem;
    }

    .container .player .control .soundbar {
        position: relative;
        min-width: 10vw;
    }

    #soundbar {
        display: inherit;
        position: absolute;
        right: 3rem;
    }

    .container .player .control .musicbar {
        position: relative;
        min-width: 85%;
    }

    .container .player .control #play_btn {
        font-size: 3rem;
    }

    .container .player .control #previous,
    .container .player .control #next {
        font-size: 2rem;
    }

}

@media (max-width:500px) {
    .container .navbar .navbar-toggle {
        display: inline-flex;
        position: relative;
        left: 20.5rem;
        top: 11px;
    }

    .main .tools {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding: 0px 1rem;
        font-size: 1.2rem;
    }

    .main .tools .search_result .card {
        padding-left: 0;
    }

    .main .tools .setting .fa,
    .main .tools .mode .fas {
        font-size: 1.5rem;
    }

    .main .display .main-song {
        transition: all 0.3s linear;
        height: 200px;
        width: 200px;
        margin-top: 3rem;
    }

    .main .display .main-song h3 {
        width: 200px;
        font-size: 1.3rem;
    }

    .main .display .main-song p {
        width: 200px;
    }

    .main .songItems {
        width: 95%;
        height: 10rem;
        padding: 0 1rem;
        gap: 2rem;
    }

    .main .songItems .rest {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .main .songItems .rest p {
        width: 80px;
    }

    .main .songItems .rest h4 {
        width: 80px;
    }

    .main .display .main-song p {
        width: 200px;
    }

    .main .display .main-song h3 {
        width: 200px;
        font-size: 1.3rem;
    }

    .main .display {
        width: 100%;
        height: 21rem;
    }

    .main .display .featured {
        position: relative;
        left: 1rem;
        top: 4.5rem;
    }

    .main .display .featured .header h3 {
        font-size: 1.5rem;
    }

    .repeat1 {
        display: inherit;
        position: absolute;
        left: 4rem;
    }

    #soundbar {
        display: inherit;
        position: absolute;
        right: 2rem;
    }

}